<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/asset/reset.css" />
        <link rel="stylesheet" href="/asset/main.css" />
        <link rel="stylesheet" href="/asset/highlight.css" />
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    </head>
    <body>
        <header>
            Blog by <strong>Stuart Powers</strong>.
            Find me on <a href="https://github.com/sente">GitHub</a>,
            Find me on <a href="https://github.com/stuartpowers">GitHub-2</a>,
            Learn more <a href="/aboutMe.html">about me</a>.
        </header>
        <section>
            {{ content }}
        </section>
    </body>
</html>
